@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  font-family: 'Lato', sans-serif;
}
.navbar-nav .nav-item .nav-link{
  color:navy;
}
.navbar-nav .nav-item .active{
  color:blue;
}
.navbar-nav .nav-item .nav-link:hover{
  color:blue;
}
h1{
  font-family: "Nunito", sans-serif;
  font-size: 48px;
    font-weight: 700;
    color: #012970;
}
p{
  font-size: 18px;
}
.custom_btn{
  border-radius: 20px;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
  color: navy;
  font-weight: 450;
}
h5,h3{
  color: navy;
  font-weight: bold;
}
.footer_top{
 background: #232F3E;
  padding: 20px 0;
}
.footer_top a{
  color: #fff;
}
.footer_top p{
  color:#fff;
}
.logo_style{
  height: 50px;
}
.imgZoomer{
  overflow: hidden;
  transition:0.4s;
}
.imgZoomer:hover{
  transform: scale(1.2);
}
.searchBox{
  outline: none;
outline-width: 0;
}
.searchBox:focus{
outline: none;
}